/**Normalizador**/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

/**Font**/
body{
    font-family: 'Open Sans', sans-serif;
}
/**Grid**/
header{
    grid-area: header;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.grid-container{
    display: grid;
    grid-template-areas: 'header header'
    'aside main'
     'footer footer';
     grid-template-columns: 0.7fr 3fr;
     grid-template-rows: 130px unset 60px;
}

.header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.main{
    grid-area: main;
}

.aside{
    grid-area: aside;
    background-color: rgb(255, 255, 255);
}

.footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
}

/**Header**/

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-nav{
    display: flex;
    height: 90px;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.logo-search{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.counter{
    padding: 2px 6px;
    border-radius: 100%;
    font-size: 12px;
    color: white;
    font-weight: 600;
    background-color: rgb(235, 52, 52);
}

.nav-paginas{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-pagina{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    font-size: 20px;
    color: rgb(39, 39, 39);
}

.input-search{
    display: flex;
    position: relative;
    align-items: center;
}

input{
    height: 3rem;
    padding: 0px 3rem 0px 1rem;
    width: 350px;
    border: 1px solid rgb(137, 137, 137);
    border-radius: 4px;
}


.second-nav{
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorias{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: rgb(45, 45, 45);
}

.categorias-menu{
    font-weight: 800;
}

.breadcrum{
    display: flex;
    flex-direction: row;
    gap:24px;
}


/**Filtros**/

.filtros{
    padding-left: 30px;
}

.filtro{
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(137, 137, 137);
}

.titulo-filtro{
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
}

#cbox{
    width: 16px;
}

.input-checkbox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: 40px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

/**Main**/
.cards{
    display: grid;
    grid-template-columns: 340px 340px 340px;
    grid-gap: 32px;
    padding: 40px 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items:start;
    height: 470px;
    background-color: white;
    justify-content: space-between;
    gap: 8px;
}

.badge-descuento{
    padding: 4px 9px;
    background-color: rgb(182, 7, 7);
    font-weight: 700;
    color: white;
    border-radius: 4px;
}

#sin-descuento{
    visibility: hidden;
}

.badges-beneficios{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.badge-beneficio{
    padding: 4px 9px;
    border-radius: 4px;
    font-size: 14px;
}

.badge-beneficio:first-child{
    color: green;
    border: 1px solid green;
}

.badge-beneficio:nth-child(2){
    color: rgb(0, 183, 255);
    border: 1px solid rgb(0,183, 255);
}

.badge-beneficio:nth-child(3){
    color: blueviolet;
    border: 1px solid blueviolet;
}

.card img{
    width: 270px;
}

.titulo-producto{
    font-weight: 500;
    font-size: 16px;
}

.cards-precios{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.precio{
    color: rgb(182, 7, 7);
    font-weight: 700;
}

.llegada-producto{
    font-size: 15px;
    color: rgb(0, 113, 0);
}
/**Footer**/

footer{
    display: flex;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(137, 137, 137);
    color: rgb(104, 104, 104);
}
